@model BankBackend.Models.Employee
@{
    Layout = "~/Views/Shared/LogonPage.cshtml";
	ViewData["Title"] = "Log On";
}

<div class="d-flex justify-content-center align-items-center vh-100">
   

   

        <form asp-action="LogOn" asp-controller="Employees">
    
            <div class="form-outline ">
                <label class="form-label" for="Email">Email address</label>
                <input type="email" id="Email" class="form-control" asp-for="Email" />
            </div>
    
            <div class="form-outline">
                <label class="form-label" for="Password">Password</label>
                <input type="password" id="Password" class="form-control" asp-for="Password" />
            </div>

            <button type="submit" class="btn btn-primary p-3 my-3 w-100">Log In</button>
        </form>
    
   
   
</div>